body{
  width:1280px;
  background-color:#D8F8E8;
  margin-left:auto;
  margin-right:auto;
}
.bodywrapper{
  width:90%;
  margin-left: auto;
  margin-right: auto;
}
.bodycolor{
  float:left;
  background-color:#D8F8E8;
}
.title{
  width:90%;
  margin-left:auto;
  margin-right:auto;
}
.title h1{
  text-align: center;
  font-size:82px;
  color:#006B00;
  background-color:#D8F8E8;
  margin-bottom:0px;
  border-bottom:1px solid black;
}
/* toolbar css start */
.toolbar{
  float:left;
  width:14.9%;
  margin-top: 30px;
}
.toolbar table tr td{
  font-size:24px;
  color:#00CC66;
  font-weight:bold;
}
.toolbar table tr td p{
  color:#00CC66;
  font-size:43px;
  font-weight: bold;
  text-decoration: underline;
}
.toolbar table tr td a{
  text-decoration:none;
}
.toolbar table tr td a p{
  color:#00CC66;
  font-size:24px;
  font-weight: normal;
  text-decoration: none;
  margin:0%;
}
.toolbar table tr td a p:hover{
  color:white;
  background-color:#B2F0D1;
}
/* toolbar css end */
.section{
  float:right;
  width:85%;
  border-left:1px solid #597059;
}
.description{
  width:95%;
  margin-top: 50px;
}
.description h1{
  background-color:#B2F0D1;
  color:#00CC66;
  font-size:44px;
}
.description h2{
  background-color:#B2F0D1;
  color:#00CC66;
  padding-top:5px;
  padding-bottom:5px;
  font-size:28px;
}
.description p{
  color:#507E50;
  font-size:18px;
  text-align:justify;
  margin-left:auto;
  margin-right:auto;
  width:95%;
}
.leftdescription{
  float:left;
  width:65%;
}
.leftdescription h2{
  background-color:#B2F0D1;
  color:#00CC66;
  padding-top:5px;
  padding-bottom:5px;
  font-size:28px;
}
.leftdescription h3{
  background-color:#B2F0D1;
  color:#00CC66;
  padding-top:5px;
  padding-bottom:5px;
}
.leftdescription p{
  width:95%;
  margin-left: auto;
  margin-right: auto;
  color:#507E50;
  text-align: justify;
  font-size:18px;
}
.leftdescription ul{
  margin:0%;
  float:left;
  list-style: none;
  font-size:18px;
  color:#507E50;
}
.rightdescription{
  float:left;
  width:30%;
}
.rightdescription h3{
  background-color:#B2F0D1;
  color:#00CC66;
  text-align: center;
  margin-left: 30px;
}
.rightdescription img{
  position: relative;
  left:30px;
  top:20px;
  margin-bottom: 30px;
}
.chapternav{
  width:100%;
  float:left;
}
.chapternav table{
  margin:auto;
}
.chapternav table tr td a{
  text-decoration: none;
  font-size: 24px;
  color:#00CC66;
}
.chapternav table tr td a p:hover{
  color:white;
  background-color:#B2F0D1;
}
.footer{
  float:left;
  width:100%;
  height:40px;
  border-top:1px solid black;
  background-color:#D8F8E8;
}
.footer p{
  text-align:center;
  font-size:16px;
  color:#507E50;
}
